# Node modules directory
/node_modules/

# Log files
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp
*.swo

# IDE specific files
.vscode/
.idea/

# Package-lock file (if you want to ignore it)
package-lock.json

# NPM debug log
npm-debug.log*

# Yarn lock file (if using Yarn)
yarn.lock
